<footer class="container site-footer">

  <div class="wrapper">


       <div class="row">
          <p class="col-sm-5">
             Email:
             {% if site.email %}
             <a href="mailto:{{ site.email }}">{{ site.email }}</a>
             {% endif %}
          </p>
          {% if site.github_username %}
          <p class="col-sm-3">
             {% include icon-github.html username=site.github_username %}
          </p>
          {% endif %}

          {% if site.linkedin_username %}
          <p class="col-sm-4">
             LinkedIn:
             {% include icon-linkedin.html %}
          </p>
          {% endif %}

       </div>


  </div>

</footer>
