.home-page-background {
  display: flex;
  align-items: center;
  background-image: url('../images/background_mt_gray_cropped.png');
  background-size: cover;
  color: #ffffff;
  min-height: 485px;
  background-repeat: no-repeat;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  margin-bottom: 0px;
}

#h1 {
   text-align: center;
}

#h2 {
   text-align: center;
}
